:root {
    --bs-primary-rgb: 41, 187, 156;
    --bs-secondary-rgb: 44, 62, 79;
}

.bg-secondary {
    background-color: #2C3F51!important;
}



.navbar-color {
    background-color: #2C3F51;
    color: white;
}

.modified-link-color a {
    color: white;
}

.green-section {
    background-color: #19BC9D;
    color: white;
}

.top-image {
    width: 200px;
    padding: 20px 0;
}

.line {
    height: 2px;
    width: 100px;
    background-color: white;
    align-self: center;
    margin: 0 15px;
}


.write-top-part {
    padding: 20px 0;
}

.line-blk {
    background-color: black;
}

.img-center-content {
    width: 100%;
    border-radius: .3rem;
}

.color-modified-btn {
    background-color: #19BC9D;
    border: 0;
}

.modified-padding-list > div {
    padding-left: 0;
}

.text-color {
    color:  #19BC9D;
}

.footer-first-section {
    background-color: #3A546D;
    color: white;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
}

.social-icon-section i {
    padding: .8rem .8rem;
    border-radius: 50%;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    line-height: 15px;
    text-align: center;
}

.footer-second-section {
    background-color: #2C3F51;
    color: white;
}

.footer-second-section span {
    font-size: .6rem;
}

.form-floating > .custom-space-message-input {
    padding-bottom: 10rem;
}